In [1]:
import duckdb

ip = "192.168.4.203"
duckdb.sql("INSTALL postgres;")
duckdb.sql("LOAD postgres;")
duckdb.sql(f"ATTACH 'dbname=postgres user=postgres host={ip} password=template!PWD' AS db (TYPE POSTGRES);")

In [2]:
df = duckdb.query("""
SELECT * FROM db.public.programs
""").df()

df2 = duckdb.query("""
SELECT * FROM db.public.programs
WHERE id = 'fbd9228a-a5a1-4c85-9509-889caad0ac26'
AND team_id = '0e563c05-13e8-42d1-ae3b-4c2eaee36161'
""").df()

df2

Empty DataFrame
Columns: [id, team_id, action, pointer]
Index: []

In [3]:
import uuid
random_id = uuid.uuid4()
print(random_id)

duckdb.query(f"""
UPDATE db.public.programs
SET action = NULL,
    pointer = '{random_id}'
WHERE id = 'fbd9228a-a5a1-4c85-9509-889caad0ac26'
AND team_id = '0e563c05-13e8-42d1-ae3b-4c2eaee36161'
""")

b725e57f-2988-42ac-96e6-b1d69d836df1

In [4]:
df = duckdb.query("""
SELECT * FROM db.public.programs
WHERE id = 'fbd9228a-a5a1-4c85-9509-889caad0ac26'
AND team_id = '0e563c05-13e8-42d1-ae3b-4c2eaee36161'
""").df()

df

Empty DataFrame
Columns: [id, team_id, action, pointer]
Index: []

In [5]:
df = duckdb.query("""
SELECT * FROM db.public.teams
""").df()

df

                                       id  lucky_breaks
0    21fd14eb-6973-4a6f-99a0-59140d82f9f6             0
1    e8395611-ea93-4f1e-b454-25cacca5d01f             0
2    d552887e-4e15-4ebc-a6dd-e53f8d50c420             0
3    cc4bd0b1-b444-43ef-ae65-ee0ed7288a8c             0
4    77be236f-cdaa-4535-bf90-8d5d89a5d2e1             0
..                                    ...           ...
355  58ace98f-08b3-48ab-90bc-0fe27b018c18             0
356  810f1bf5-6a11-4027-95d0-6e5dfb7b705c             0
357  602a4a24-793c-4b43-8a9d-d18b2b4b4f8d             0
358  eecc66d0-d839-403d-8fca-05dc1cafcf9c             0
359  f2fd56fd-d92b-496f-bec5-6370b58eb9f1             0

[360 rows x 2 columns]

In [6]:
df = duckdb.query("""
SELECT * FROM db.public.teams
""").df()

df

                                       id  lucky_breaks
0    21fd14eb-6973-4a6f-99a0-59140d82f9f6             0
1    e8395611-ea93-4f1e-b454-25cacca5d01f             0
2    d552887e-4e15-4ebc-a6dd-e53f8d50c420             0
3    cc4bd0b1-b444-43ef-ae65-ee0ed7288a8c             0
4    77be236f-cdaa-4535-bf90-8d5d89a5d2e1             0
..                                    ...           ...
355  58ace98f-08b3-48ab-90bc-0fe27b018c18             0
356  810f1bf5-6a11-4027-95d0-6e5dfb7b705c             0
357  602a4a24-793c-4b43-8a9d-d18b2b4b4f8d             0
358  eecc66d0-d839-403d-8fca-05dc1cafcf9c             0
359  f2fd56fd-d92b-496f-bec5-6370b58eb9f1             0

[360 rows x 2 columns]

In [7]:
import uuid
random_id = uuid.uuid4()
print(random_id)

duckdb.query(f"""
UPDATE db.public.programs
SET action = NULL,
    pointer = '{random_id}'
WHERE id = 'fbd9228a-a5a1-4c85-9509-889caad0ac26'
AND team_id = '0e563c05-13e8-42d1-ae3b-4c2eaee36161'
""")

71a20afd-3e7e-460d-87c3-0b4fbdaecbc7

In [8]:
duckdb.query("""SELECT * FROM db.public.programs""")

┌──────────────────────────────────────┬──────────────────────────────────────┬─────────┬─────────┐
│                  id                  │               team_id                │ action  │ pointer │
│                 uuid                 │                 uuid                 │ varchar │  uuid   │
├──────────────────────────────────────┼──────────────────────────────────────┼─────────┼─────────┤
│ c8f0ac09-3115-4a21-af2d-204bde67b254 │ 21fd14eb-6973-4a6f-99a0-59140d82f9f6 │ RIGHT   │ NULL    │
│ c05531ce-aec9-40d4-ad8a-4ba4f4166018 │ 21fd14eb-6973-4a6f-99a0-59140d82f9f6 │ MIDDLE  │ NULL    │
│ 148fdd35-2de3-46ca-b51c-ce37fc42b032 │ e8395611-ea93-4f1e-b454-25cacca5d01f │ NOTHING │ NULL    │
│ 3039c0d6-595d-4d82-b30c-af686d6ce93b │ e8395611-ea93-4f1e-b454-25cacca5d01f │ NOTHING │ NULL    │
│ b5c18deb-75e4-47d3-9a9a-4d7bd4f1087a │ e8395611-ea93-4f1e-b454-25cacca5d01f │ MIDDLE  │ NULL    │
│ 87495d73-ba5a-412c-a01c-9f39fe216c2d │ e8395611-ea93-4f1e-b454-25cacca5d01f │ NOTHING │ NULL    │
│ 7ee6ba31-8cd4-4545-9cf1-632482f4615b │ e8395611-ea93-4f1e-b454-25cacca5d01f │ NOTHING │ NULL    │
│ e683325f-13fc-4763-b29b-2a52901ef816 │ d552887e-4e15-4ebc-a6dd-e53f8d50c420 │ RIGHT   │ NULL    │
│ fedbfdd2-2dbd-48bb-be1e-15c1a833d2d6 │ d552887e-4e15-4ebc-a6dd-e53f8d50c420 │ NOTHING │ NULL    │
│ a2b214fc-eba5-40c7-b2bf-8dcb73d03690 │ d552887e-4e15-4ebc-a6dd-e53f8d50c420 │ LEFT    │ NULL    │
│                  ·                   │                  ·                   │  ·      │  ·      │
│                  ·                   │                  ·                   │  ·      │  ·      │
│                  ·                   │                  ·                   │  ·      │  ·      │
│ 694b76c8-b805-40ee-9d19-ee6b0fee1575 │ 810f1bf5-6a11-4027-95d0-6e5dfb7b705c │ NOTHING │ NULL    │
│ 17c2b9ba-115c-42f5-b4db-aed47afb824c │ 602a4a24-793c-4b43-8a9d-d18b2b4b4f8d │ LEFT    │ NULL    │
│ e5fedb71-7f29-4f14-bc2f-6bc86479c5cd │ 602a4a24-793c-4b43-8a9d-d18b2b4b4f8d │ RIGHT   │ NULL    │
│ 7533db63-1da3-4b1d-9523-77103e987e4d │ 602a4a24-793c-4b43-8a9d-d18b2b4b4f8d │ MIDDLE  │ NULL    │
│ 9c37accf-89c4-4dc2-8d7f-7e8a5dfe1c76 │ eecc66d0-d839-403d-8fca-05dc1cafcf9c │ LEFT    │ NULL    │
│ 4ea991d1-8f71-412c-b1c6-fd3934518c08 │ eecc66d0-d839-403d-8fca-05dc1cafcf9c │ NOTHING │ NULL    │
│ c3aa1214-2fee-49dc-a928-6a1963430122 │ f2fd56fd-d92b-496f-bec5-6370b58eb9f1 │ RIGHT   │ NULL    │
│ 25878ce1-0910-4adb-b2ff-9947bf8cff9c │ f2fd56fd-d92b-496f-bec5-6370b58eb9f1 │ NOTHING │ NULL    │
│ 87d17393-22af-4385-93b8-73a9fb7f7f71 │ f2fd56fd-d92b-496f-bec5-6370b58eb9f1 │ LEFT    │ NULL    │
│ 054d09e1-50ce-4429-91b5-3bbb7a77bdb8 │ f2fd56fd-d92b-496f-bec5-6370b58eb9f1 │ RIGHT   │ NULL    │
├──────────────────────────────────────┴──────────────────────────────────────┴─────────┴─────────┤
│ 1239 rows (20 shown)                                                                  4 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────┘

In [9]:
duckdb.query("""
WITH team_cumulative_rewards_by_generation AS
(
    SELECT generation, team_id, SUM(reward) AS cumulative_reward FROM db.public.training
    GROUP BY generation, team_id
    ORDER BY generation, cumulative_reward DESC
)

SELECT * FROM team_cumulative_rewards_by_generation
JOIN db.public.teams ON team_cumulative_rewards_by_generation.team_id = teams.id
ORDER BY generation, cumulative_reward
""")

┌────────────┬─────────────────────────────┬─────────────────────┬──────────────────────────────────────┬──────────────┐
│ generation │           team_id           │  cumulative_reward  │                  id                  │ lucky_breaks │
│   int32    │            uuid             │       double        │                 uuid                 │    int32     │
├────────────┼─────────────────────────────┼─────────────────────┼──────────────────────────────────────┼──────────────┤
│          1 │ 95129240-5689-494e-94b3-c…  │  -4625.200556669719 │ 95129240-5689-494e-94b3-cf738bfdeebb │            0 │
│          1 │ 985ef7a2-5ede-497b-a0b3-0…  │  -3322.121654674767 │ 985ef7a2-5ede-497b-a0b3-08fc3388edc8 │            0 │
│          1 │ 8d2d9050-cc56-49dc-b6a1-9…  │ -1864.9333046699076 │ 8d2d9050-cc56-49dc-b6a1-913ceea8462d │            0 │
│          1 │ b347e55a-612d-44b2-a0ec-e…  │  -1342.406314916559 │ b347e55a-612d-44b2-a0ec-ee952225bfa1 │            0 │
│          1 │ 80c2db44-2a28-4955-9f48-a…  │ -1246.6893791695024 │ 80c2db44-2a28-4955-9f48-a310490821ff │            0 │
│          1 │ c978a996-424c-4a53-a739-c…  │ -1210.6392985228129 │ c978a996-424c-4a53-a739-cdbea3d297b1 │            0 │
│          1 │ 27373c77-1395-4ef4-8449-0…  │ -1166.1220917441597 │ 27373c77-1395-4ef4-8449-0cef25878b50 │            0 │
│          1 │ 2a5c58f5-533a-4926-91a0-7…  │ -1093.5827454484283 │ 2a5c58f5-533a-4926-91a0-7bede4eb64e8 │            0 │
│          1 │ 1cbb0bae-5769-47bf-86e1-9…  │ -1034.4962937396758 │ 1cbb0bae-5769-47bf-86e1-902e237a32fc │            0 │
│          1 │ b269ca35-bc8a-43ea-bfc7-f…  │  -972.5063628631013 │ b269ca35-bc8a-43ea-bfc7-f8032274a5a1 │            0 │
│          · │              ·              │           ·         │                  ·                   │            · │
│          · │              ·              │           ·         │                  ·                   │            · │
│          · │              ·              │           ·         │                  ·                   │            · │
│          1 │ a5e986c6-e991-4b6e-b4e2-c…  │  -94.77429166895381 │ a5e986c6-e991-4b6e-b4e2-cee2573682f1 │            0 │
│          1 │ 6504ddcd-ddb1-4964-b7c3-6…  │  -92.59498646380555 │ 6504ddcd-ddb1-4964-b7c3-6b7666709c8e │            0 │
│          1 │ 7e1509fe-8a18-4122-b7f0-1…  │   -92.4855502138243 │ 7e1509fe-8a18-4122-b7f0-19ad47e58996 │            0 │
│          1 │ fb622e05-712b-4605-a104-4…  │  -90.73944765198677 │ fb622e05-712b-4605-a104-4ed92bf336f1 │            0 │
│          1 │ b13fcb7d-0c2a-48a1-bf3b-6…  │  -87.15814228585398 │ b13fcb7d-0c2a-48a1-bf3b-638e9fdd693c │            0 │
│          1 │ 6aa90b69-4d5a-4f71-9ad1-b…  │   -83.6266266581387 │ 6aa90b69-4d5a-4f71-9ad1-b061c57b0db7 │            0 │
│          1 │ bd18325c-0423-40a3-b394-1…  │  -45.19202509917545 │ bd18325c-0423-40a3-b394-15e4737380c4 │            0 │
│          1 │ 2e5ada1f-cb6a-48fd-b2f8-1…  │   -4.13205273636342 │ 2e5ada1f-cb6a-48fd-b2f8-1ae555ff4ea0 │            0 │
│          1 │ d3266126-6b44-4385-8a9c-b…  │  -3.181030048026969 │ d3266126-6b44-4385-8a9c-b829dc8dac3a │            0 │
│          1 │ 834c21a9-73ca-4dd4-92d7-4…  │  11.343102185451485 │ 834c21a9-73ca-4dd4-92d7-4bd2865a36e3 │            0 │
├────────────┴─────────────────────────────┴─────────────────────┴──────────────────────────────────────┴──────────────┤
│ 240 rows (20 shown)                                                                                        5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [10]:
duckdb.query("""SELECT * FROM db.public.teams ORDER BY lucky_breaks DESC""")

┌──────────────────────────────────────┬──────────────┐
│                  id                  │ lucky_breaks │
│                 uuid                 │    int32     │
├──────────────────────────────────────┼──────────────┤
│ 21fd14eb-6973-4a6f-99a0-59140d82f9f6 │            0 │
│ e8395611-ea93-4f1e-b454-25cacca5d01f │            0 │
│ d552887e-4e15-4ebc-a6dd-e53f8d50c420 │            0 │
│ cc4bd0b1-b444-43ef-ae65-ee0ed7288a8c │            0 │
│ 77be236f-cdaa-4535-bf90-8d5d89a5d2e1 │            0 │
│ 7ae3c53b-3345-46b3-890e-8f9ad283e9df │            0 │
│ 3ece7173-34cc-417d-a297-40007393a05a │            0 │
│ 2f3b7666-a2f5-4008-80d8-c8fb121d7f14 │            0 │
│ 80fd634f-6d4c-4690-9515-c4a388fcd0d0 │            0 │
│ 0d54c6a0-c899-4a1e-a998-04a98e70a6e5 │            0 │
│                  ·                   │            · │
│                  ·                   │            · │
│                  ·                   │            · │
│ d4816442-ccf1-440e-bd15-6120f679d857 │            0 │
│ 6cb14a71-62a7-48f6-b82b-b0664122fb57 │            0 │
│ 5271d839-5bbb-41cf-a5f4-c65afb4a1998 │            0 │
│ d979d712-f64e-4d1d-9b10-a0354dc937bc │            0 │
│ 2d3257be-912c-47f4-b73e-a991a5867f9a │            0 │
│ 58ace98f-08b3-48ab-90bc-0fe27b018c18 │            0 │
│ 810f1bf5-6a11-4027-95d0-6e5dfb7b705c │            0 │
│ 602a4a24-793c-4b43-8a9d-d18b2b4b4f8d │            0 │
│ eecc66d0-d839-403d-8fca-05dc1cafcf9c │            0 │
│ f2fd56fd-d92b-496f-bec5-6370b58eb9f1 │            0 │
├──────────────────────────────────────┴──────────────┤
│ 360 rows (20 shown)                       2 columns │
└─────────────────────────────────────────────────────┘

In [135]:
duckdb.query("""
SELECT * FROM db.public.observations
ORDER BY id DESC
LIMIT 50
""")

┌────────┬──────────────────────────────────────────────────────────────────────────────────────┐
│   id   │                                     observation                                      │
│ int32  │                                       double[]                                       │
├────────┼──────────────────────────────────────────────────────────────────────────────────────┤
│ 289833 │ [-1.0036873, 4.1245427, -1.0846245, 2.13586, 0.010791033, -0.024737228, 0.0, 0.0]    │
│ 289832 │ [-0.9928285, 4.076486, -1.0749943, 2.0945797, 0.0120279, -0.016565789, 0.0, 0.0]     │
│ 289831 │ [-0.98207015, 4.0293584, -1.0623101, 2.0793633, 0.01285619, -0.005029261, 0.0, 0.0]  │
│ 289830 │ [-0.9714445, 3.9825723, -1.0588247, 2.0797977, 0.013107641, -0.0021413094, 0.0, 0.0] │
│ 289829 │ [-0.9608552, 3.935777, -1.0486858, 2.0614283, 0.013214712, 0.0068426067, 0.0, 0.0]   │
│ 289828 │ [-0.9503718, 3.889395, -1.0477126, 2.0519257, 0.012872588, 0.00711751, 0.0, 0.0]     │
│ 289827 │ [-0.93989825, 3.8432267, -1.0360329, 2.0129263, 0.012516713, 0.017272111, 0.0, 0.0]  │
│ 289826 │ [-0.9295467, 3.7979355, -1.0425787, 1.9969989, 0.011653107, 0.010205277, 0.0, 0.0]   │
│ 289825 │ [-0.9191261, 3.7530031, -1.0349996, 1.998635, 0.01114285, 0.017161872, 0.0, 0.0]     │
│ 289824 │ [-0.90878475, 3.7080338, -1.0470388, 1.9603404, 0.010284751, 0.0045167375, 0.0, 0.0] │
│    ·   │                                        ·                                             │
│    ·   │                                        ·                                             │
│    ·   │                                        ·                                             │
│ 289793 │ [0.8883011, 4.2079988, 1.6008911, 2.2204397, -0.23444282, -0.03688028, 0.0, 0.0]     │
│ 289792 │ [-0.65286326, 2.755545, -1.0736843, 1.4912906, 0.03913589, -0.054508753, 0.0, 0.0]   │
│ 289791 │ [0.8723103, 4.158032, 1.5780907, 2.2045972, -0.23259878, -0.044161208, 0.0, 0.0]     │
│ 289790 │ [-0.64209884, 2.7219923, -1.0848548, 1.4827641, 0.041861318, -0.06747988, 0.0, 0.0]  │
│ 289789 │ [-0.63121617, 2.6886325, -1.0679384, 1.4862262, 0.045235313, -0.052598346, 0.0, 0.0] │
│ 289788 │ [0.8565512, 4.108421, 1.5725825, 2.1981928, -0.23039074, -0.03837906, 0.0, 0.0]      │
│ 289787 │ [-0.62051016, 2.6551943, -1.0748494, 1.4831579, 0.047865234, -0.061364967, 0.0, 0.0] │
│ 289786 │ [0.84084415, 4.0589547, 1.5642502, 2.1570544, -0.22847177, -0.023913944, 0.0, 0.0]   │
│ 289785 │ [-0.6097306, 2.6218255, -1.0854754, 1.4686571, 0.05093349, -0.07470967, 0.0, 0.0]    │
│ 289784 │ [0.82521343, 4.010417, 1.5483737, 2.1288812, -0.22727607, -0.020949986, 0.0, 0.0]    │
├────────┴──────────────────────────────────────────────────────────────────────────────────────┤
│ 50 rows (20 shown)                                                                  2 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────┘

In [114]:
import pandas as pd
import numpy as np
import duckdb



# Sample profile creation
sample_profile = [0 if i % 2 == 0 else 1 for i in range(50)]

# Query to get diversity profiles
profiles = duckdb.query("""
SELECT * FROM db.public.diversity_cache
""").df()['profile']

result = []

# Process each profile
for profile in profiles:
    # Convert numpy arrays to Python lists if needed
    if isinstance(profile, np.ndarray):
        profile = profile.tolist()
    
    print(f"Profile: {profile}")
    result.append(profile)

print(result)

# Convert sample_profile to numpy array for comparison
sample_profile_array = np.array(sample_profile)

# Check if sample_profile is in result
found = any(np.array_equal(sample_profile_array, np.array(profile)) for profile in result)

if found:
    print("Already in diversity profiles... Mutating again")
else:
    print("Not in diversity profiles")

Not in diversity profiles

In [129]:
pd.set_option('display.max_colwidth', None)

duckdb.query("""
SELECT * FROM db.public.diversity_cache
""").df()

,id,team_id,profile
0,1,122994e7-fa5b-436d-a70d-cd92f6f2039f,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,2,2d0ed1f0-8cc4-4c31-a634-54d5b96a1f4b,"[3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]"
2,3,120758e2-153c-4135-b432-17cc2d28ea67,"[1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1]"
3,4,6411333c-ea58-49bb-8e1b-1d283257b86f,"[3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0]"
4,5,7ddc2f6a-7f35-4a35-a9bb-d5ed82b79e5c,"[3, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 0, 3, 0, 3, 0, 3, 0, 3, 0, 3, 0, 3, 0, 3]"
...,...,...,...
620,621,da5f99f4-66ca-4fba-9e06-bbfccf721c95,"[2, 2, 0, 2, 0, 0, 2, 2, 0, 0, 2, 2, 0, 0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0, 0, 2, 0, 2]"
621,622,b06f6788-1b49-4011-a857-dfce68f3670a,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 3, 3, 0, 3]"
622,623,e74fc097-e04a-4e4f-b654-4e737378d4a4,"[0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]"
623,624,76326eab-d0ad-4e95-9745-202a00e812c6,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
624,625,1b949895-ed78-4e41-ac68-12033dadc706,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3]"